In [1]:
print("hello")

hello

In [2]:
print('"welcome p4n"')
print("'welcome cwp'")

"welcome p4n"
'welcome cwp'

In [3]:
# Data type
a = 10
print(type(a))
a = 1.0
print(type(a))
a = "p4n.in"
print(type(a))
a = 10,
print(type(a))
a = 10
print(type(a))
a = (10)
print(type(a))
a = (10,)
print(type(a))
a = 10,44,33,22,11,11
print(type(a))
a = (10,44,33,22,11,11)
print(type(a))
a = [10,44,33,22,11,11]
print(type(a))
a = {10,44,33,22,11,11}
print(type(a))
a = {'website':'p4n.in','course':'python'}
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'list'>
<class 'set'>
<class 'dict'>

In [4]:
# variable print
name = "joy"
age = 12
height = 3.4

print('my name is : ',name)
print('my age is : ',age)
print('my height is : ', height)

my name is :  joy
my age is :  12
my height is :  3.4

In [5]:
# other example 

number1 = 100
number2 = 200

result = number1 + number2
print('result is ',result)

result is  300

In [6]:
# user input 

name = input('Enter Your Name - ')
age = int(input('Enter your Age - '))
height = float(input('Enter your height - '))

print('My Name is : ',name)
print('My age is : ',age)
print('My Height is : ',height)

Enter Your Name -  sakshi
Enter your Age -  20
Enter your height -  5.9

My Name is :  sakshi
My age is :  20
My Height is :  5.9

In [7]:
number1 = int(input('Enter Number 1 ... '))
number2 = int(input('Enter Number 2 ... '))

result = number1 + number2

print('The Result is : - ',result)

Enter Number 1 ...  89
Enter Number 2 ...  89

The Result is : -  178

In [8]:
# Data type in Python

# 1. int
# 2. float
# 3. str
# 4. bool
# 5. list
# 6. tuple
# 7. set
# 8. dict
# 9. None
# 10. complex
# 11. range
# 12. bytes
# 13. bytearray

In [9]:
# Examples of each data type in Python

# 1. int
example_int = 10
print("int:", example_int)

# 2. float
example_float = 10.5
print("float:", example_float)

# 3. str
example_str = "Hello, World!"
print("str:", example_str)

# 4. bool
example_bool = True
print("bool:", example_bool)

# 5. list
example_list = [1, 2, 3, 4, 5]
print("list:", example_list)

# 6. tuple
example_tuple = (1, 2, 3, 4, 5)
print("tuple:", example_tuple)

# 7. set
example_set = {1, 2, 3, 4, 5}
print("set:", example_set)

# 8. dict
example_dict = {"name": "Alice", "age": 25}
print("dict:", example_dict)

# 9. None
example_none = None
print("None:", example_none)

# 10. complex
example_complex = 1 + 2j
print("complex:", example_complex)

# 11. range
example_range = range(5)
print("range:", list(example_range))

# 12. bytes
example_bytes = b"Hello"
print("bytes:", example_bytes)

# 13. bytearray
example_bytearray = bytearray(5)
print("bytearray:", example_bytearray)

int: 10
float: 10.5
str: Hello, World!
bool: True
list: [1, 2, 3, 4, 5]
tuple: (1, 2, 3, 4, 5)
set: {1, 2, 3, 4, 5}
dict: {'name': 'Alice', 'age': 25}
None: None
complex: (1+2j)
range: [0, 1, 2, 3, 4]
bytes: b'Hello'
bytearray: bytearray(b'\x00\x00\x00\x00\x00')

In [10]:
# print("Addition of the provided Number: ", Result)

num_str = "10"
num_int = int(num_str)
print(num_int)  # Output: 10
print(type(num_int))
print(type(num_str))

10
<class 'int'>
<class 'str'>

In [11]:
# float(): Converts a value into a floating-point number. For example:
num_str = "3.14"
num_float = float(num_str)
print(num_float)  # Output: 3.14
num_int = int(num_float)
print(num_int)

3.14
3

In [12]:
# str(): Converts a value into a string. For example:
num_int = 42
num_str = str(num_int)
print(num_str)  # Output: "42"
print(type(num_str))

42
<class 'str'>

In [13]:
data = "12345678910"
print(type(data))
# using list()
data_list = list(data)
print(data_list)

# using tuple()
data_tuple = tuple(data)
print(data_tuple)

# using set() 
data_set = set(data)
print(data_set)

<class 'str'>
['1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '0']
('1', '2', '3', '4', '5', '6', '7', '8', '9', '1', '0')
{'2', '4', '1', '6', '8', '9', '0', '7', '3', '5'}

In [14]:
# bool(): Converts a value into a boolean. For example:
num = 42
bool_val = bool(num)
print(bool_val)  # Output: True

True

In [15]:
# Example of type conversion for each datatype

# Integer to float
num_int = 10
num_float = float(num_int)
print(f"Integer to float: {num_float} (type: {type(num_float)})")

# Float to integer
num_float = 3.14
num_int = int(num_float)
print(f"Float to integer: {num_int} (type: {type(num_int)})")

# Integer to string
num_int = 42
num_str = str(num_int)
print(f"Integer to string: {num_str} (type: {type(num_str)})")

# String to integer
num_str = "123"
num_int = int(num_str)
print(f"String to integer: {num_int} (type: {type(num_int)})")

# String to float
num_str = "3.14"
num_float = float(num_str)
print(f"String to float: {num_float} (type: {type(num_float)})")

# List to tuple
data_list = [1, 2, 3]
data_tuple = tuple(data_list)
print(f"List to tuple: {data_tuple} (type: {type(data_tuple)})")

# Tuple to list
data_tuple = (1, 2, 3)
data_list = list(data_tuple)
print(f"Tuple to list: {data_list} (type: {type(data_list)})")

# List to set
data_list = [1, 2, 2, 3]
data_set = set(data_list)
print(f"List to set: {data_set} (type: {type(data_set)})")

# Set to list
data_set = {1, 2, 3}
data_list = list(data_set)
print(f"Set to list: {data_list} (type: {type(data_list)})")

# Integer to boolean
num_int = 0
bool_val = bool(num_int)
print(f"Integer to boolean: {bool_val} (type: {type(bool_val)})")

# String to boolean
str_val = ""
bool_val = bool(str_val)
print(f"String to boolean: {bool_val} (type: {type(bool_val)})")

Integer to float: 10.0 (type: <class 'float'>)
Float to integer: 3 (type: <class 'int'>)
Integer to string: 42 (type: <class 'str'>)
String to integer: 123 (type: <class 'int'>)
String to float: 3.14 (type: <class 'float'>)
List to tuple: (1, 2, 3) (type: <class 'tuple'>)
Tuple to list: [1, 2, 3] (type: <class 'list'>)
List to set: {1, 2, 3} (type: <class 'set'>)
Set to list: [1, 2, 3] (type: <class 'list'>)
Integer to boolean: False (type: <class 'bool'>)
String to boolean: False (type: <class 'bool'>)